<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/javascript/jquery.min.js"></script>
</head>
<body>
    <ul>
        <% data.forEach(function(item) { %>
            <div class="quiz-section-title">
                <li id="quiz-content" class="question-<%= item.QuestionNum %>"><%= item.QuestionNum %>. <%= item.Question %> </li>
            </div>
            <div class="quiz-section-content">
                <ul>
                    <li class="list-item"> 
                        <label class="overlabel">
                            <input type="radio" class="hide" name="radios-<%= item.QuestionNum %>" id="<%= item.QuestionNum %>-1" value="1">
                            <span class="mark"></span>
                        </label>
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-1"><%= item.Answer1 %></p>
                        </div>
                    </li>
                    <li class="list-item">
                        <label class="overlabel">
                            <input type="radio" class="hide" name="radios-<%= item.QuestionNum %>" id="<%= item.QuestionNum %>-2" value="2">
                            <span class="mark"></span>
                        </label> 
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-2"><%= item.Answer2 %></p>
                    </li>
                    <li class="list-item">
                        <label class="overlabel">
                            <input type="radio" class="hide" name="radios-<%= item.QuestionNum %>" id="<%= item.QuestionNum %>-3" value="3">
                            <span class="mark"></span>
                        </label>
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-3"><%= item.Answer3 %></p>
                    </li>
                    <li class="list-item">
                        <label class="overlabel">
                            <input type="radio" class="hide" name="radios-<%= item.QuestionNum %>" id="<%= item.QuestionNum %>-4" value="4">
                            <span class="mark"></span>
                        </label>
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-4"><%= item.Answer4 %></p>
                    </li>
                    <label for="name">
                        <input type="radio" name="answer-<%= item.QuestionNum %>" class="hidden" checked="on" value="<%= item.Result %>">
                    </label>
                </ul>
            </div>
        <% }) %>
    </ul> 
    <button class="hidden" id="previousTest2">Previous</button>
    <button class="hidden" id="previousTest3">Previous</button>
    <button id="displayTest2">Next</button>
    <button class="hidden" id="displayTest3">Next</button>
    <button class="hidden" id="submit">Submit</button>
    <script type="text/javascript" src="/javascript/index.js"></script>
</body>
</html>