<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script src="/javascript/jquery.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
</head>
<body>
    <ul>
        <% data.forEach(function(item) { %>
            <div class="quiz-section-title container p-3 my-3 border">
                <li id="quiz-content" class="question-<%= item.QuestionNum %>"><%= item.QuestionNum %>. <%= item.Question %> </li>
            </div>
            <div class="quiz-section-content container p-3 my-3 border">
                <ul>
                    <li class="list-item"> 
                        <label class="overlabel">
                            <input type="radio" id="hide" name="radios-<%= item.QuestionNum %>" class="<%= item.QuestionNum %>-1" value="1">
                        </label>
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-1"><%= item.Answer1 %></p>
                        </div>
                    </li>
                    <li class="list-item">
                        <label class="overlabel">
                            <input type="radio" id="hide" name="radios-<%= item.QuestionNum %>" class="<%= item.QuestionNum %>-2" value="2">
                        </label> 
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-2"><%= item.Answer2 %></p>
                    </li>
                    <li class="list-item">
                        <label class="overlabel">
                            <input type="radio" id="hide" name="radios-<%= item.QuestionNum %>" class="<%= item.QuestionNum %>-3" value="3">
                        </label>
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-3"><%= item.Answer3 %></p>
                    </li>
                    <li class="list-item">
                        <label class="overlabel">
                            <input type="radio" id="hide" name="radios-<%= item.QuestionNum %>" class="<%= item.QuestionNum %>-4" value="4">
                        </label>
                        <div class="box-check">
                            <div class="answer-desc text-view"></div>
                            <p class="answer-<%= item.QuestionNum %>-4"><%= item.Answer4 %></p>
                    </li>
                    <label for="name">
                        <input type="radio" name="answer-<%= item.QuestionNum %>" id="hidden" checked="on" value="<%= item.Result %>">
                    </label>
                </ul>
            </div>
        <% }) %>
    </ul> 
    <button id="hidden" class="previousTest2">Previous</button>
    <button id="hidden" class="previousTest3">Previous</button>
    <button class="displayTest2">Next</button>
    <button id="hidden" class="displayTest3">Next</button>
    <button id="hidden" class="submit">Submit</button>
    <button id="hidden" class="evaluate">Evaluate</button>
    <script type="text/javascript" src="/javascript/index.js"></script>
</body>
</html>